body{font-family:Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;font-size:17px;}

/*forms, for some reason*/

.download-check {
    margin: 4px 4px 4px 0px;
}
input {
  background-color: #fffcf5;
  margin-top: 1em;
}
button {
  background-color: #fffcf5;
}

body{margin:16px auto;max-width:73%;padding:0 10px;color:#333;line-height:1.6;}
h1{line-height:2;font-size:160%}
h2{line-height:1.6;font-size:120%}
header h1 {margin: 1em 0 .4em 0}
header h2 {margin: 0px;}
h3,h4,h5,h6{line-height:1.2;font-size:100%}
header{margin:0;padding:0;border-bottom:1px solid #999;line-height:1}
footer{margin:0;padding:10px 0;border-top:1px solid #999;line-height:1;text-align:center}
p,div,ul,ol{margin:0px 0}
img{
    margin:10px auto;
    max-width:95%;
    max-height:600px;
    padding:0 0px;
    height:auto;
    display:block}
hr{
    border:none;border-top:2px solid #999;color:#fff;background-color:#fff;height:1px;
    margin-top:20px;
}
a{color:#4040ff;word-wrap:break-word;text-decoration:none}
a:visited{color:#009}
a:hover{color:#f00}
header a,header a:visited,footer a,footer a:visited,h1 a,h1 a:visited,h2 a,h2 a:visited,h3 a,h3 a:visited,h4 a,h4 a:visited,h5 a,h5 a:visited,h6 a,h6 a:visited{text-decoration:none;color:#333}
header a:hover,footer a:hover,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{text-decoration:none;color:#f00}
nav{padding:1em 0 .6em 0;text-align:right}
nav a{padding-left:.6em; font-size:1em;}
table{border-collapse:collapse;font-size:.8em;margin:10px auto}
th,td{border:1px solid gray;padding:2px 5px}
code{border:1px dotted #999;background-color:#f0f0f0;padding:1px 2px;line-height:200%;word-wrap:break-word;font-size:.8em}
pre{border:1px solid #999;background-color:#f0f0f0;padding:5px;overflow:auto;}
pre code{border:0;background:none;padding:0;font-size: .8em}
blockquote{margin:0;padding:0 0 0 20px;border-left:solid 5px #ccc;font-size:.8em}
ul.pagination{list-style-type:none;text-align:center}
li.page-item{display:inline;padding-right:15px}

article li{padding: 0.03em 0 0.03em 0;}
article ul{padding: .2em .2em .2em 1.5em}

svg.permalink{color:#666;fill:currentColor}
svg:hover.permalink{color:#f00;fill:currentColor}
.title{padding:0;margin:20px 0}
.meta,.content{padding:0;margin:10px 0}
.title h1,.title h2{padding:0}
.meta div{padding:0}
.content h1{padding:0;margin:20px 0 0}
.content h2{padding:0;margin:20px 0 0}
.content h3{padding:0;margin:20px 0 0}
.content h4{padding:0;margin:15px 0 0}
.content h5{padding:0;margin:10px 0 0}
.content h6{padding:0;margin:10px 0 0}
.content p{padding:0;margin:.4em 0}

/* Article headers */
single h1{padding-top:0.1em; margin-top:0.1em;}
single .title{padding-top:0.1em; margin-top:0.1em;}
single .meta{padding-bottom:0; margin-bottom:0;}
single div {padding-bottom:0; margin-bottom:0;}

.meta {
    font-size: .8em;
    font-style: italic;
    color: gray;
}
a.tags {
    color: gray;
}
.title {
    margin-bottom: 0;
}
.subtitle {
    margin-top: 0;
}


/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}

.grid-container-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  padding: 1.5em 0 1.5em 0;
}

.grid-item {
    max-width: 100%;
    max-height: 500px;
    margin: 1% 0 1% 0;

    white-space: nowrap;
    overflow: hidden;
}

.grid-item .grid-image {
    height: 300px;
    width: auto;

    margin: 2% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item .grid-image img {
    max-width: auto;
    max-height: 300px;
}

.exif {
  word-wrap: break-word;
  font-size: .8em;
  font-style: italic;
  color: gray;
}

.download-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .15em 0 .15em 0
}

.index-img {
    height:280px;
    width:280px;
    object-fit:cover;
    object-position: 50% 50%;
    margin: 10px 10px 10px 10px;
}

.index-description {
    margin: .6px 1.5em .6px 1.5em;
}

