{{ define "main" -}}
<div>
    {{ .Content -}}
</div>
<div class="grid-container">

    {{ range (.Paginate ( where .Site.RegularPages "Type" "in" site.Params.mainSections )).Pages -}}
    <div class="grid-item">
        <div class="grid-image">
            <a href="{{ .RelPermalink }}">
                <img class="index-img" src="{{ .Description }}">
            </a>
        </div>
        <div class="index-description">
            {{ .Title }}
            <div class="exif">{{ .Date.Format "01.02.2006" }} // {{ .Summary }}</div>
        </div>
    </div>
    {{ end -}}


</div>

{{ template "_internal/pagination.html" . -}}
{{ end -}}

